<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" useInvariantCulture="true" >

  <targets async="false">
    <target xsi:type="ColoredConsole"
            name="console" useDefaultRowHighlightingRules="true"
            layout="${time}|${pad:padding=-5:inner=${uppercase:${level}}}|${pad:padding=-16:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false:includeNamespace=false}}|${message}"
            />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>